@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.sidenav-mobile {
  display: none;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 0 15px;
    border-bottom: 1px solid #333;
    
    a {
      margin-left: 10px;
      color: #FFF;
      font-family: 'Josefin Sans', sans-serif;
      text-decoration: none;
      font-size: 1.6em;
      transition: 0.5s;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 10px;

        a {
          color: #FFF;
          font-size: 1.4em;
        }
      }
    }
  }
}

.sidenav {
  padding: 40px 0;
  width: 280px;
  border-right: 1px solid #333;
  height: 100vh;
  text-align: center;
  position: fixed;

  @media (max-width: 600px) {
    display: none;
  }
}

.buy-me {
  margin-top: 50px;

  p {
    color: #FFF;
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
  }
  
  a {
    color: #DAE311;
    text-decoration: none;
  }

}

.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#FFFFFF !important;background-color:#FF813F !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#FFFFFF !important;}

.sidenav-title {
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  font-size: 1.9em;
  transition: 0.5s;

  &:hover {
    color: #777;
  }
}

.sidenav-divider {
  margin: 20px 0;
  border-color: #333;
}

.sidenav-list {
  margin-top: 30px;
  list-style: none;

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 10px; 

    a {
      color: #FFF;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        color: #777;
      }
    }
  }
}

.sidenav-social {
  list-style: none;
  width: 50%;
  margin: 40px auto;
  display: flex;
  justify-content: center;

  li {
    margin-right: 20px;
    a {
      color: #DAE311;
      font-size: 2em;
      transition: 0.5s;

      &:hover {
        color: #FFF;
      }
    }
  }
}

.container {
  font-family: 'Open Sans', sans-serif;
  margin-left: 280px;
  padding: 50px 100px;

  @media (max-width: 600px) {
    margin-left: 0;
    padding: 20px;
  }
}

.page-title {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2em;
  text-shadow: 2px 2px 2px #000000
}

.posts-list {
  margin-top: 40px;
  list-style: none;

  li {
    padding: 20px;

    a {
      text-decoration: none;
      color: #FFF;
      transition: 0.5s;

      &:hover {
        color: #777;
      }
      
      h2 {  
        font-size: 2.4em;
      }

      p {
        margin-top: 10px;
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }
}

.post {
  color: #FFF;
  text-align: left;

  h2 {
    font-size: 2em;
    color: #8db1ab;
  }

  h3 {
    font-size: 1.6em;
    color: #f2ed6f;
  }

  h4 {
    font-size: 1.3em;
    color: #cee397;
  }

  img {
    left: 0;
  }

  em {
    color: #777;
  }

  p {
    margin: 20px 0;
    font-size: 1.2em;
  }

  a {
    color: #DAE311;
  }

  ul {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 40px;
  }

  table, th, td {
    border: 2px solid white;
    padding: 10px;
  }
}

.post-title {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2em;
  text-shadow: 2px 2px 2px #000000;

  @media (max-width: 600px) {
    font-size: 2.4em;
  }
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #777;
  font-size: 1.2em;
}

.post-category {
  padding-top: 5px;
  font-size: 1.1em !important;
}

.post-info-divider {
  color: #FFF;
  padding: 3px 10px 0;
}

.post-date {
  padding-top: 5px;
  color: #FFF !important;
  font-size: 1.1em !important;
  position: relative;
}

.post-tags {

  @media (max-width: 600px) {
    margin-left: 0;
    padding-top: 20px;
  }
}

.post-tag {
  top: -10px;
  margin-right: 5px;
  padding: 7px 5px 5px 5px;
  font-size: .8em;
  border-radius: 4px;
  background: #e4e4e4;
  color: #000;
}

.contact-page {
  color: #FFF;

  p {
    font-size: 1.4em;
    margin-bottom: 20px;
  }


  a {
    color: #DAE311;
    padding: 5px;
  }

  h2 {
    font-size: 2em;
    color: #999;
    margin-bottom: 30px;
  }
}

.contact-title {
  margin-bottom: 20px;
}

.reading-list {

  margin-top: 50px;

  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #666;

    h2 {
      font-size: 1.8em;
    }

    span {
      padding: 15px 0;

      strong {
	color: #DAE311;
	padding: 5px;
      }
    }
  }
}
