@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.sidenav-mobile {
  display: none;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 0 15px;
    border-bottom: 1px solid #333;
    
    a {
      margin-left: 10px;
      color: #FFF;
      font-family: 'Josefin Sans', sans-serif;
      text-decoration: none;
      font-size: 1.6em;
      transition: 0.5s;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 10px;

        a {
          font-size: 1.4em;
        }
      }
    }
  }
}

.sidenav {
  padding: 40px 0;
  width: 280px;
  border-right: 1px solid #333;
  height: 100vh;
  text-align: center;
  position: fixed;

  @media (max-width: 600px) {
    display: none;
  }
}

.sidenav-title {
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  font-size: 1.9em;
  transition: 0.5s;

  &:hover {
    color: #777;
  }
}

.sidenav-divider {
  margin: 20px 0;
  border-color: #333;
}

.sidenav-list {
  margin-top: 30px;
  list-style: none;

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 10px; 

    a {
      color: #FFF;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        color: #777;
      }
    }
  }
}

.sidenav-social {
  list-style: none;
  width: 50%;
  margin: 40px auto;
  display: flex;
  justify-content: center;

  li {
    margin-right: 20px;
    a {
      color: #FFF;
      font-size: 2em;
      transition: 0.5s;

      &:hover {
        color: #777;
      }
    }
  }
}

.container {
  font-family: 'Open Sans', sans-serif;
  margin-left: 280px;
  padding: 50px 100px;

  @media (max-width: 600px) {
    margin-left: 0;
    padding: 20px;
  }
}

.page-title {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2em;
  text-shadow: 2px 2px 2px #000000
}

.posts-list {
  margin-top: 40px;
  list-style: none;

  li {
    padding: 20px;

    a {
      text-decoration: none;
      color: #FFF;
      transition: 0.5s;

      &:hover {
        color: #777;
      }
      
      h2 {  
        font-size: 2.4em;
      }

      p {
        margin-top: 10px;
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }
}

.post {
  color: #FFF;
  text-align: left;

  h2 {
    font-size: 2em;
    color: #DAE311;
  }

  img {
    left: 0;
  }

  em {
    color: #777;
  }

  p {
    margin: 20px 0;
    font-size: 1.2em;
  }

  a {
    color: #DAE311;
  }

  ul {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.post-title {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2em;
  text-shadow: 2px 2px 2px #000000;

  @media (max-width: 600px) {
    font-size: 2.4em;
  }
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #777;
  font-size: 1.2em;
}

.post-category {
  padding-top: 5px;
}

.post-info-divider {
  color: #FFF;
  padding: 3px 10px 0;
}

.post-date {
  padding-top: 5px;
  position: relative;
}

.post-tags {

  @media (max-width: 600px) {
    margin-left: 0;
    padding-top: 20px;
  }
}

.post-tag {
  top: -10px;
  margin-right: 5px;
  padding: 5px;
  font-size: .8em;
  background: #e4e4e4;
  color: #000;
}